<div class="main ">
 
    <p><a href="/matches/create">New match</a><br></p> 
  <p><a href="/matches/updateScoreForm">Update score</a><br></p>
   <div class="grid-matches-admin"> 
         {{#each match}}
          

             <div ><img  src="/img/{{this.disciplines.img}}" alt=" logo" width="30" height="30"></div><div>{{this.date}}</div><div>{{this.teams.[0].organization.name}}</div><div>{{this.score.[0]}}:{{this.score.[1]}}</div><div>{{this.teams.[1].organization.name}}</div><div>{{this.name}}</div><a id="delete"  href='/matches/delete/{{this._id}}'>delete</a>
        
        {{/each}}
</div>
     </div>