
    <div   class='main  '>
        
    <table style= " border-spacing: 15px;"><tr>
 {{#each disciplin}}
                
    <th><a href="/news/sort/{{this._id}}" >{{this.name}} </a> </th>
 {{/each}}
          </tr></table>
     <div class='grid-news'>
         {{#each news}}
         
       
        
                <div><h4 class="disciplines ">{{this.disciplines.name}}</h4>
                    <img  src="/img/{{this.img}}" alt="news image" width="220" height="150"><h4>{{this.date}}</h4></div>
           <div><h4> </h4><h2><a href='/news/post/{{this._id}}/{{this.team2.name}}'><p1>{{this.name}}</a></h2> 
           
             
          
            </div>
            
               
             
         {{/each}}
         </div>  
     </div>

