<div class="main grid-container">
 
      
    

        {{#with player}}
        <div class="item1">Nickname: {{name}}</div> 
        <div class="item2" style="text-align: center;"><img class="grid-item-logo" src="/img/{{img}}" alt=" logo" width="200" height="200"></div> 
        <div class="item3">About player: {{biography}}</div>
        <div class="item4">Settings: {{settings}}</div>
        <div class="item5">Country: {{country}}</div>
        <div class="item6">Role: {{role}}</div>
        
           {{/with}}
     </div>
     